{{define "title"}}Factorio Dashboard{{end}}
{{define "content"}}
  <h1>Factorio Dashboard</h1>

  <p>
    <strong>Status</strong>
    <div><em>{{.Status}}</em></div>
  </p>

  <p>
    <strong>Players</strong>
    <ul>
      {{range $index, $player := .Players}}
        <li>{{.}}</li>
      {{else}}
        <li><em>No players have joined yet.</em></li>
      {{end}}
    </ul>
  </p>

  <p>
    <strong>Evolution</strong>
    <div>{{.Evolution}}</div>
  </p>
{{end}}
